. {
}

#doclet-container {
    width:100%;
    height:100%;
}
#doclet-controls BUTTON {
    display:none;
}
.doclet-render .frame-set {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.doclet-render .frame-set IFRAME {
    min-width:300px;
    min-height:300px;
    border:1px solid var(--page-border);
}
#doclet-controls:not(.editing) BUTTON.rendering {
    display:block;
}
#doclet-controls.editing BUTTON.editing {
    display:block;
}
#doclet-container #render-container {
    display:none;
    height:100%;
    width:100%;
}
#doclet-container #editor-container {
    position:absolute;
    display:none;
    height:calc(100% - var(--spacer2));
    width:calc(100% - var(--spacer2));
    padding:var(--spacer);
}
#doclet-container:not(.editing) #render-container {
    display:flex;
    flex-direction: row;
}
#doclet-container.editing #editor-container {
    display:flex;
    flex-direction:column;
}
#doclet-container #doclet-menu {
    flex:120px 0;
    padding:var(--spacer);
}
#doclet-container #doclet-properties {
    display:flex;
    flex-direction: row;
    margin-bottom:var(--spacer);
    margin-right:100px;
    flex-wrap: wrap;
}
#doclet-container #doclet-properties DIV:not(:last-child) {
    margin-right: var(--spacer);
}
#doclet-container #doclet-render {
    flex:1 0;
    padding:var(--spacer);
}
#doclet-container #doclet-editor {
    flex:1 0;
}
#doclet-controls {
    position:absolute;
    right: 16px;
    display: inline-flex;
    margin-top:-22px;
    height:30px;
    align-self:flex-end;
}
.page-controls {
    display: flex;
    margin-top:var(--spacer);
    height:30px;
    align-self:flex-end;
}
button {
    display:none;
    background-color:var(--tray-bg);
    padding:0;
    margin-right:4px;
    cursor:pointer;
    border:1px solid var(--text-color);
    border-radius:10px;
    width:32px;
    height:32px;
    font-size:1.2em;
}
button:hover {
    background-color:var(--page-action);
}

A {
    color:black;
    font-weight:bold;
    text-decoration: none;
}
A:hover {
    text-decoration: underline;
}

TABLE {
    background-color:var(--tray-bg);
    border:1px solid var(--page-border);
    width:100%;
    border-collapse: collapse;
}
th, td {
    padding: var(--spacerhalf) var(--spacer);
    text-align:left;
    vertical-align:top;
}
th {
    border:1px solid var(--page-border);
}
