. {
    overflow-y:auto;
    height:100%;
}
.menu {
    font-size: 0.8em;
    border-right:1px dotted var(--text-quiet);
    display:none;
}
.menu.active {
    display:block;
}

#doclet-render {
    margin-left:var(--spacerhalf);
}
#doclet-content {
    position:relative;
}
.menuitem {
    margin-left:3px;
    margin-top:var(--spacerthird);
    color:var(--text-quiet);
}
.menuitem .label:hover {
    color:var(--text-color);
    cursor:pointer;
    text-decoration: underline;
}
.menuitem .tray {
    margin-top:var(--spacerthird);
    margin-bottom:var(--spacer);
}
.menuitem.root-menu {
    position:fixed;
    width:120px;
    margin-top:0;
    margin-left:-3px;
}