. {
    height:calc(100% - var(--spacer2));
    width:calc(100%);
}

#doclet-container {
    position:relative;
    width:100%;
    height:100%;
}
#doclet-controls BUTTON {
    display:none;
}
.doclet-render .frame-set {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.doclet-render .frame-set .frame-container {
    position:relative;
    min-width:300px;
    min-height:300px;
    margin:var(--spacer);
}
.doclet-render .frame-set .frame-title {
    display:none;
    font-size:13px;
    height:15px;
    background-color:var(--bg-color-d);
    padding:1px 5px;
}
.doclet-render .frame-set IFRAME {
    height:calc(100% - 15px);
    width:100%;
}
.frame-container.titled .frame-title {
    display:block;
}
.frame-container.titled IFRAME {
    height:calc(100% - 15px);
}
#doclet-controls:not(.editing) BUTTON.rendering {
    display:block;
}
.modified .important-if-modified {
    background-color:var(--status-warning);
}
#doclet-controls.editing BUTTON.editing {
    display:block;
}
#doclet-container #render-container {
    position:absolute;
    display:none;
    height:calc(100% - var(--spacer2));
    width:calc(100% - var(--spacer2));
    padding:var(--spacer);
}
#doclet-container #editor-container {
    position:absolute;
    display:none;
    height:calc(100% - var(--spacer2));
    width:calc(100% - var(--spacer2));
    padding:var(--spacer);
}
#doclet-container:not(.editing) #render-container {
    display:flex;
    flex-direction: row;
}
#doclet-container.editing #editor-container {
    display:flex;
    flex-direction:column;
}
#render-container #doclet-menu {
    flex:120px 0;
    padding:var(--spacer);
}
#doclet-container #doclet-properties {
    display:flex;
    flex-direction: row;
    margin-bottom:var(--spacer);
    margin-right:100px;
    flex-wrap: wrap;
}
#doclet-container #doclet-properties DIV:not(:last-child) {
    margin-right: var(--spacer);
}
#doclet-container #doclet-render {
    display:flex;
    flex:1 0;
    padding:var(--spacer);
}
#doclet-container #doclet-editor {
    flex:1 0;
}
#doclet-controls {
    position:absolute;
    right: 16px;
    display: inline-flex;
    margin-top:-22px;
    height:30px;
    align-self:flex-end;
    z-index:100;
}
#doclet-controls.hidden {
    display:none;
}
button {
    display:none;
    padding:0;
    margin-right:4px;
    cursor:pointer;
    border:1px solid var(--text-color);
    border-radius:10px;
    width:32px;
    height:32px;
    font-size:1.2em;
    background-color:var(--bg-color);
    color:var(--text-color);
}
button:hover {
    background-color:var(--action-color-hilite);
}

A {
    color:var(--action-color);
    text-decoration: none;
}
A:hover {
    text-decoration: underline;
}

TABLE {
    background-color:var(--tray-bg);
    border:1px solid var(--page-border);
    width:100%;
    border-collapse: collapse;
}
th, td {
    padding: var(--spacerhalf) var(--spacer);
    text-align:left;
    vertical-align:top;
}
th {
    border:1px solid var(--page-border);
}
#unavailable {
    padding:var(--spacer);
    font-style: italic;
}


.menu {
    font-size: 0.8em;
    border-right:1px dotted var(--text-quiet);
}
^ #mobile-doclet-menu {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:10%;
    background-color: black;
    font-size:1em;
    display:none;
    padding-top:12px;
    font-size:1.3em;
}
^ #mobile-doclet-menu.active {
    display:block;
}
^ #mobile-doclet-menu #doclet-menu {
    width:100%;
}
^ #mobile-doclet-menu .menuitem.root-menu {
    width:100%;
}
#menu-toggle {
    color:white;
    font-size: 3em;
    z-index:100;
    position:absolute;
    left: var(--spacer);
    margin-top:-36px;
    z-index:100;
    display:none;
    cursor:pointer;
}
@media screen and (max-width: 600px) {
    #menu-toggle {
        display:block !important;
    }
}
.menuitem {
    display:block;
    flex-direction: column;
    margin-left:3px;
    margin-top:var(--spacerthird);
    color:var(--text-quiet);
}
.menuitem .label {
    display: flex;
    flex-direction: row;
    white-space-treatment: nowrap;
}

.menuitem>.label>.toggle {
    flex:0 0;
    margin-right:var(--spacerhalf);
    transition: all 200ms;
    font-weight: bold;
}
.menuitem>.label>.toggle:hover {
    cursor:pointer;
    text-decoration: unset;
}
.menuitem.open>.label>.toggle {
    transform: rotate(90deg);
}
.menuitem .label .label-text {
    flex:1 1;
}
.menuitem>.label>.label-text:hover {
    cursor:pointer;
    text-decoration: underline;
}
.menuitem>.tray {
    margin-top:var(--spacerthird);
    margin-bottom:var(--spacer);
    margin-left:var(--spacerhalf);
    transition:height 200ms;
    display:none;
}
.menuitem.open>.tray {
    display:block;
}
.menuitem.root-menu {
    position:fixed;
    width:120px;
    margin-top:0;
    margin-left:-3px;
}
