. {
    position:relative;
    display:flex;
    flex:1 1;
    width:100%;
    min-height:80px;
    box-sizing:border-box;
}
.content {
    position:absolute;
    flex:1 0;
    left:0;
    top:0;
    right:40px;
    bottom:0;
}
.control {
    position:absolute;
    flex:38px 0;
    display: inline-flex;
    flex-direction: column;
    right:0;
}
.content .doclet-editor {
    display:none;
    height:calc(100% - 14px);
    width:calc(100% - 14px);
    border:0;
    padding:6px;
    resize: none;
    overflow-y:auto;
}
.content .doclet-editor.titled {
    height:calc(100% - 28px);
}
.content .doclet-render {
    display:none;
}
button {
    display:none;
    padding:0;
    margin-right:4px;
    cursor:pointer;
    border:1px solid var(--text-color);
    border-radius:10px;
    width:32px;
    height:32px;
}
