.wiki {
    overflow-y:auto;
    height:100%;
}
.wiki TextArea h1 {
    margin-top:0;
}
.wiki #doclet-container {
    width:calc(100% - var(--spacer2));
    height:calc(100% - var(--spacer2));
    padding:var(--spacer);
}
.wiki #doclet-controls BUTTON {
    display:none;
}
.wiki #doclet-controls:not(.editing) BUTTON.rendering {
    display:block;
}
.wiki #doclet-controls.editing BUTTON.editing {
    display:block;
}
.wiki #doclet-container #render-container,.wiki #doclet-container #editor-container {
    display:none;
    height:100%;
    width:100%;
}
.wiki #doclet-container:not(.editing) #render-container {
    display:flex;
    flex-direction: row;
}
.wiki #doclet-container.editing #editor-container {
    display:flex;
    flex-direction:column;
}
.wiki #doclet-container #doclet-menu {
    flex:100px 0;
}
.wiki #doclet-container #doclet-properties {
    flex:60px 0;
}
.wiki #doclet-container #doclet-render {
    flex:1 0;
}
.wiki #doclet-container #doclet-editor {
    flex:1 0;
}
.wiki #doclet-controls {
    position:absolute;
    right: 16px;
    display: inline-flex;
    margin-top:-12px;
    height:30px;
    align-self:flex-end;
}
.page-controls {
    display: flex;
    margin-top:var(--spacer);
    height:30px;
    align-self:flex-end;
}
.wiki button {
    display:none;
    background-color:var(--tray-bg);
    padding:0;
    margin-right:4px;
    cursor:pointer;
    border:1px solid var(--text-color);
    border-radius:10px;
    width:32px;
    height:32px;
}
.wiki button:hover {
    background-color:var(--page-action);
}
.wiki-block {
    position:relative;
    display:flex;
    flex:1 1;
    width:100%;
    min-height:200px;
    box-sizing:border-box;
}
.wiki-block .content {
    position:relative;
    flex:1 0;
    height:100%;
    overflow-y:auto;
}
.wiki-block .control {
    position:relative;
    flex:38px 0;
    display: inline-flex;
    flex-direction: column;
}
.wiki-block .content .doclet-editor {
    display:none;
    height:calc(100% - 14px);
    width:calc(100% - 14px);
    border:0;
    padding:6px;
    overflow:auto;
    white-space: pre;
    resize: none;
}
.wiki-block .content .doclet-render {
    display:none;
}
.wiki-block button {
    display:none;
    background-color:var(--tray-bg);
    padding:0;
    margin-right:4px;
    cursor:pointer;
    border:1px solid var(--text-color);
    border-radius:10px;
    width:32px;
    height:32px;
}
.wiki-block button:hover {
    background-color:var(--page-action);
}